@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}